.nav-bar {
  z-index: 10;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 32px;
  font-family: 'Bungee', sans-serif;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.page-name {
  margin-left: 1.5em;
}

.righthand-menu {
  margin-right: 1.5em;
  font-family: sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The code for the bounce animation comes from https://css-tricks.com/making-css-animations-feel-natural/ */
.symbol-color {
  color: red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.righthand-menu:hover {
  color: gold;
}

.symbol-color:hover {
  font-size: 1.3em;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(4px); }
  100% { transform: translateY(0); }
}
