.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-submission {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.form-submission button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 20px;
}

textarea {
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid grey;
  resize: none;
  height: 50px;
}

.new-tweet .form-submission .non-valid {
  color: red;
}

#error-alerts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px; 
  border: 5px solid red;
  padding: 10px 10px 10px 30px;
  color: red;
}